<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-sm-12 bg-dark">
      <nav class="navbar navbar-expand-lg bg-dark ">
        <div class="container-fluid ">
          <!-- <a class="navbar-brand text-white" href="#"><img class="logo"
              src="../../../assets/img/animaciones/logo_pintureria.png" alt=""></a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item text-nabvar">
                <a class="nav-link active text-white " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown text-nabvar">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Cliente
                </a>
                <ul class="dropdown-menu">
                  <li class="text-nabvar"><a routerLink="/altaCliente" class="dropdown-item " href="#">Alta</a></li>
                  <li class="text-nabvar"><a routerLink="/listaCliente" class="dropdown-item" href="#">Lista Clientes</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown text-nabvar">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Pedido
                </a>
                <ul class="dropdown-menu">
                  <li class="text-nabvar"><a routerLink="/altaPedido" class="dropdown-item " href="#">Alta Pedido</a></li>
                  <li class="text-nabvar"><a class="dropdown-item" href="#">Lista Pedido</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown text-nabvar">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Producto
                </a>
                <ul class="dropdown-menu">
                  <li class="text-nabvar"><a class="dropdown-item " href="#">Alta</a></li>
                  <li class="text-nabvar"><a routerLink="/listaProducto" class="dropdown-item" href="#">Lista Producto</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown text-nabvar">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Cliente
                </a>
                <ul class="dropdown-menu">
                  <li class="text-nabvar"><a class="dropdown-item " href="#">Alta</a></li>
                  <li class="text-nabvar"><a class="dropdown-item" href="#">Lista Clientes</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="align-self-start col-lg-10 col-sm-12">
      <div class="container-fluid text-center mt-5">
        <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
                  <p>Alta Cliente</p>
            </div>
          </div>
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
            </div>
          </div>
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
            </div>
          </div>
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
            </div>
          </div>
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
            </div>
          </div>
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
            </div>
          </div>
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
            </div>
          </div>
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
            </div>
          </div>
          <div class="col">
            <div>
              <a routerLink="/altaCliente" href=""><img src="../../../assets/img/botones/btnIngresarCliente.png"
                  alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>