<div class="container-principal">

  <div class="container d-flex align-items-center h-100">

    <div class="col-lg-8 col-md-12 text-center mt-5 fondo-form">
      <form #validForm="ngForm" class="row formucolor">
        <div class="row">
          <div class="col-12">
            <label for="selecCliente" class="form-label">Cliente</label>
            <select required class="form-select" name="idCliente" [(ngModel)]="pedido.idCliente">
              <option *ngFor="let cliente of listClientes" [ngValue]="cliente.idCliente">
                {{cliente.nombre + ' ' +cliente.apellido}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="selecEmpleado" class="form-label">Vendedor</label>
            <select required class="form-select" name="idEmpleado" [(ngModel)]="pedido.idEmpleado">
              <option *ngFor="let empleado of listEmpleado" [ngValue]="empleado.idEmpleado">
                {{empleado.nombre + ' ' +empleado.apellido}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="selectProducto" class="form-label">Producto</label>
            <select required class="form-select" name="idroducto" [(ngModel)]="idProducto">
              <option *ngFor="let producto of listProductos" [ngValue]="producto.idProducto">
                {{producto.nombre}}
              </option>
            </select>
          </div>
          <div class="col-6">
            <label for="selecFormasPago" class="form-label">Formas de Pago</label>
            <select required class="form-select" name="idFormasPago" [(ngModel)]="pedido.idFormasPago">
              <option *ngFor="let FormasPago of listFormasPago" [ngValue]="FormasPago.idFormasPago">
                {{FormasPago.descripcion}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">

          <div class="col-4">
            <label for="inputCantidad" class="form-label">Cantidad</label>
            <input required type="number" class="form-control" id="inputCantidad" name="cantidad"
              [(ngModel)]="cantidad">
          </div>
          <div class="col-4">
            <label for="inputPrecioUnitario" class="form-label">P.Unitario</label>
            <input type="number" class="form-control" id="precioUnitario" name="fecha" [(ngModel)]="precioUnitario">
          </div>
          <div class="col-4 mt-5">
            <button class="btn btn-dark " (click)="agregarDetalles()">Agregar Detalle</button>
          </div>
          
        </div>


        <div class="sm-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Codigo de Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Importe</th>
                <th>Quitar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of  detalles">
                <td>{{detalle.idProducto }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.precioUnitario }}</td>
                <td>{{ detalle.importe }}</td>

                <td>
                  x
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-dark btn-xl" (click)="agregarPedido()"
              [disabled]="validForm.invalid">Guardar Pedido</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-dark btn-xl" (click)="cancelar()">Cancelar Pedido</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
