<section>
    <div class="container-fluid py-5 d-flex align-items-center">
        <div class="container mx-auto py-5 row">
            <div class="col-4 d-flex flex-column align-items-center py-5">
                <label for="">Nueva Venta</label>
                <button class="btn" (click)="goForm('alta-venta')"><i class="fa-solid fa-cash-register"></i></button>
            </div>
            <div class="col-4 d-flex flex-column align-items-center py-5">
                <label for="">Nuevo Empleado</label>
                <button class="btn" (click)="goForm('alta-empleado')"><i class="fa-solid fa-id-card"></i></button>
            </div>
            <div class="col-4 d-flex flex-column align-items-center py-5">
                <label for="">Nuevo Cliente</label>
                <button class="btn" (click)="goForm('alta-cliente')"><i class="fa-solid fa-user"></i></button>
            </div>
            <div class="col-4 d-flex flex-column align-items-center py-5">
                <label for="">Consultar Stock</label>
                <button class="btn" (click)="goForm('consultar-stock')"><i class="fa-solid fa-cubes-stacked"></i></button>
            </div>
            <div class="col-4 d-flex flex-column align-items-center py-5">
                <label for="">Nuevo Producto</label>
                <button class="btn" (click)="goForm('alta-producto')"><i class="fa-solid fa-fill-drip"></i></button>
            </div>
            <div class="col-4 d-flex flex-column align-items-center py-5">
                <label for="">Pedido A Compras</label>
                <button class="btn" (click)="goForm('pedido-reposicion')"><i class="fa-solid fa-paste"></i></button>
            </div>
        </div>
    </div>
</section>
