<div class="container- principal">
  
    <div class="container d-flex align-items-center h-100">
  
      <div class="col-lg-8 col-md-12 text-center mt-5">
        <form class="row formucolor">
          <div class="col-12">
            <label for="inputAddress" class="form-label">Cliente</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Ingrese el Nombre">
          </div>
          <div class="col-6">
            <label for="inputDomicilio" class="form-label">Domicilio</label>
            <input type="text" class="form-control" id="inputDomicilio" placeholder="Ingrese su Domicilio">
          </div>
          <div class="col-md-6">
            <label for="inputState" class="form-label">Barrio</label>
            <select id="inputState" class="form-select">
              <option selected>Seleccione</option>
              <option>Alta Cordoba</option>
              <option>Guemes</option>
              <option>Villa Cabrera</option>
              <option>Centro</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="inputTelefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="inputTelefono" placeholder="Ingrese su Telefono">
          </div>
          <div class="col-6">
            <label for="inputDni" class="form-label">DNI</label>
            <input type="text" class="form-control" id="inputDni" placeholder="Ingrese el Documento">
          </div>
  
  
          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese el Mail">
          </div>
  
          <div class="col-md-6">
            <label for="inputFechaNaciminento" class="form-label">Fecha Nacimineto</label>
            <input type="date" class="form-control" id="inputFechaNaciminento">
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button type="submit" class="btn btn-dark btn-xl ">Modificar</button>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-dark btn-xl ">Cancelar</button>
            </div>
          </div>
  
        </form>
      </div>
      <div class="col-lg-4 col-md-12 text-center mx-5">
        <img src="../../../assets/img/animaciones/crear-usuario.jpg">
      </div>
    </div>
  </div>
