<div class="container-principal">
  
  <div class="container d-flex align-items-center h-100">

    <div class="col-lg-8 col-md-12 text-center mt-5 fondo-form">
      <form class="row formucolor">

        <div class="col-6">
           <label for="inputNombre" class="form-label">Nombre</label> 
          <input type="text" class="form-control" id="inputNombre" 
                placeholder="Ingrese el Nombre" name="nombre" [(ngModel)]="cliente.nombre">
        </div>

        <div class="col-6">
          <label for="inputApellido" class="form-label">Apellido</label> 
         <input type="text" class="form-control" id="inputApellido" 
                placeholder="Ingrese el Nombre" name="apellido" [(ngModel)]="cliente.apellido" >
       </div>

       <div class="col-6">
        <label for="inputDni" class="form-label">DNI</label> 
       <input type="text" class="form-control" id="inputDni" 
              placeholder="Ingrese el Documento" name="dni" [(ngModel)]="cliente.dni">
      </div>

      <div class="col-md-6">
      <label for="inputTelefono" class="form-label">Telefono</label> 
      <input type="text" class="form-control" id="inputTelefono" 
            placeholder="Ingrese su Telefono" name="telefono"[(ngModel)]="cliente.telefono">
      </div>
   
      <div class="col-md-6">
        <label for="inputMail" class="form-label">Email</label> 
      <input type="email" class="form-control" id="inputMail"
            placeholder="Ingrese el Email" name="mail" [(ngModel)]="cliente.mail">
      </div>

      <div class="col-md-6">
        <label for="inputFechaNaciminento" class="form-label">Fecha Nacimineto</label> 
        <input type="date" class="form-control" id="inputFechaNaciminento" name="fechNac" [(ngModel)]="cliente.fechNac">
      </div>

  <div class="col-md-6">
    <label for="selectBarrio" class="form-label">Barrio</label> 
    <select  class="form-select" name="idBarrios" [(ngModel)] = "cliente.idBarrios">
     <option *ngFor="let barrio of listBarrios" [ngValue]="barrio.idBarrios">
      {{barrio.descripcion}}
    </option>  
   </select> 
  </div>

        <div class="row mt-5">
          <div class="col-6">
            <button type="submit" class="btn btn-dark btn-xl " (click)="guardarCliente()"><img class="icono" src="../../../assets/img/icono/edito.png"><span>Guardar</span></button>
          </div>
          <div class="col-6">
            <button routerLink="/home" type="submit" class="btn btn-dark btn-xl "><img class="icono" src="../../../assets/img/icono/cancelar.png"><span>Cancelar</span></button>
          </div>
        </div>

      </form>
    </div>
    <div class="col-lg-4 col-md-12 text-center mx-5">
      <img src="../../../assets/img/animaciones/crear-usuario.jpg">
    </div>
  </div>
</div>






