<section>
    <div class="container-fluid py-5 d-flex align-items-center">
        <div class="container mx-auto py-5 row">
            <div class="col-6 d-flex flex-column align-items-center py-5">
                <label for="">Ganacias Del Último Mes</label>
                <button class="btn" (click)="goForm('reportes1')"><i class="fa-solid fa-cash-register"></i></button>
            </div>
            <div class="col-6 d-flex flex-column align-items-center py-5">
                <label for="">5 Productos Más Vendidos</label>
                <button class="btn" (click)="goForm('alta-empleado')"><i class="fa-solid fa-id-card"></i></button>
            </div>
            <div class="col-6 d-flex flex-column align-items-center py-5">
                <label for="">Facturación Anular (últimos 3 años)</label>
                <button class="btn" (click)="goForm('alta-cliente')"><i class="fa-solid fa-user"></i></button>
            </div>
            <div class="col-6 d-flex flex-column align-items-center py-5">
                <label for="">Vendedor Con Más Ventas</label>
                <button class="btn" (click)="goForm('consultar-stock')"><i class="fa-solid fa-cubes-stacked"></i></button>
            </div>
        </div>
    </div>
</section>